# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac/Linux metadata
.DS_Store
*.swp
